{% extends "::layout.html.twig" %}
{% block body %}

{% block modals %}
{% include "::layout_loginmodal.html.twig" %}
{% endblock %}

{% block buttonsignin %}
{% endblock %}

<h2>Inscription</h2>

{% include "::layout_signinform.html.twig" %}

{% endblock %}