<div id="container" class="container-fluid text-center">
              <div class="col-sm-10 col-md-offset-1" >
                <!-- PAGE TITLE -->
                
                  <h4>
                    <span ></span> </h4>
                
                <!-- SHOW ERROR/SUCCESS MESSAGES -->
                <div id="login_messages">
					<span class="help-block"></span>
				</div>
				
                <!-- FORM -->
                <form id="connexionform" method="POST">
				
                  <!-- E-mail -->
                  <div id="email-group" class="form-group">
                    <label> E-mail </label>
                    <input type="email" name="email" class="form-control" placeholder="e-mail...">
                    <span class="help-block"></span>
                  </div>
				  
                  <!-- Password -->
                  <div id="password-group" class="form-group">
                    <label></label>
                    <input type="password" name="password" class="form-control" placeholder="password...">
                    <span class="help-block"></span>
                  </div>
				  
				  
                  <span class="ajax_wait" align="center">
                    <!--don't delete this span class="ajax_wait"-->
                  </span>
				  <input type="text" name="tag" value="login" hidden>
				  <input type="text" name="login_url" value="{{ path('user_login') }}" hidden>
                  <!-- SUBMIT BUTTON -->
                  <button type="submit" class="btn btn-success btn-lg btn-block">
                    <i class="glyphicon glyphicon-log-in"></i> Connexion </button>
                </form>
              </div>
			  </div>