<div class="fade modal text-center" id="connexion-modal">
      <div class="modal-dialog modal-lg">
        <div class="modal-content">
          <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
            <h4 class="modal-title" id="myModalLabel"> Connexion
              <br>
            </h4>
          </div>
          <div class="modal-body">
            {% include "::layout_loginform.html.twig" %}
            
          </div>
        </div>
      </div>
    </div>
	
    