{% extends "::layout.html.twig" %}


		{% block submenu %}
			<h2> Bienvenue sur l'interface d'accueil   </h2>

			<p> Page en construction {{ lang['PAGE_TITLE'] }} </p>
		{% endblock %}
		
		
		{% block bodycontent %}
		
		 <h2> Body content </h2>
		 
		{% endblock %}
		
