{% extends "::layout.html.twig" %}


{% block body %}
		{% block submenu %}
			<h2> Bienvenue sur l'interface d'accueil administration  </h2>

			<p> Page en construction {{ lang['PAGE_TITLE'] }} </p>
		{% endblock %}
		
		{% block bodycontent %}
		
		{% endblock %}
		
{% endblock %}
	
	