<div class="fade modal text-center" id="fil{{ fil.id }}">
				  <div class="modal-dialog">
					<div class="modal-content">
					  <div class="modal-header">
						<button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
						
					  </div>
					  <div class="modal-body">
						<p> {{ fil.filiere }}  </p>
					  </div>
					  <div class="modal-footer">
						<a class="btn btn-default" data-dismiss="modal">Close</a>
						
					  </div>
					</div>
				  </div>
				</div>