<div class="fade modal text-center" id="deldis{{ dis.discipline }}">
				  <div class="modal-dialog">
					<div class="modal-content">
					  <div class="modal-header">
						<button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
						
					  </div>
					  <div class="modal-body">
						<p> Voulez vous reelment supprimer cette discipline {{ dis.discipline }}  </p>
					  </div>
					  <div class="modal-footer">
						<a class="btn btn-default" data-dismiss="modal">Fermer</a>
						<a class="btn btn-primary w3-red" onclick="deleteDiscipline(event, '{{ dis.discipline }}','#deldis{{ dis.discipline }}')"><i class="fa fa-trash"></i>Supprimer</a>
					  </div>
					</div>
				  </div>
				</div>