{% extends "FssWebsiteDepartementBundle::layout.html.twig" %}
{% block title %}
Departement - Admin
{% endblock %}

{% block submenu %}


<h2>Departement Normale - Submenu - Page en construction </h2>

       
{% endblock %}


{% block bodycontent %}


<h2>Departement - Body Content </h2>

       
{% endblock %}