{% extends "FssWebsiteDepartementBundle::layout.html.twig" %}
{% block title %}
Departement - Normale
{% endblock %}

{% block submenu %}


<h2>Departement de ( ??? ) - Submenu Normale - Page en construction </h2>

       
{% endblock %}


{% block bodycontent %}


<h2>Departement - Body Content Normale </h2>

       
{% endblock %}