{% extends "FssWebsiteDepartementBundle::layout.html.twig" %}
{% block title %}
Departement - Admin
{% endblock %}

{% block body %}



<h2>Departement - Page prof - Page en construction </h2>

       



{% endblock %}