<div class="fade modal text-center" id="adddepartement">
				  <div class="modal-dialog">
					<div class="modal-content">
					  <div class="modal-header">
						<button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
						
					  </div>
					  <div class="modal-body">
						<div id="containeradddepartement" class="container-fluid text-center">
              <div class="col-sm-10 col-md-offset-1" >
                <!-- PAGE TITLE -->
                
                  
                
                <!-- SHOW ERROR/SUCCESS MESSAGES -->
				
                <div class="dep-form-group"> 
					<span class="messages-block"></span>
				</div>
				
                <!-- FORM -->
                <form class="adddepartementform"  method="POST">
				
                  <!-- Nom -->
                  <div class="dep-form-group">
                    <label> Nom </label>
                    <input type="text" name="nomdepartement" class="form-control" placeholder="Nom du departement">
                    <span class="help-block"></span>
                  </div>
                 
                  
				  <input type="text" name="adddeptag" value="adddep" hidden>
				  <input type="text" name="adddepartement_url" value="{{ path('pedagogie_adddepartement') }}" hidden>
				  
                  <div class="modal-footer">
						<a class="btn btn-default" data-dismiss="modal">Close</a>
						<!-- SUBMIT BUTTON -->
                  <button type="submit" class="btn btn-success "><i class="fa fa-plus"></i> Enregistrer </button>
					
					  </div>
                  
                </form>
              </div>
			  </div>
					  </div>
					  
					</div>
				  </div>
				</div>