<div class="fade modal text-center" id="deldev{{ dev.devoir }}">
				  <div class="modal-dialog">
					<div class="modal-content">
					  <div class="modal-header">
						<button type="button" class="close" data-devmiss="modal" aria-hidden="true">×</button>
						
					  </div>
					  <div class="modal-body">
						<p> Voulez vous reelment supprimer ce devoir {{ dev.devoir }} ?  </p>
					  </div>
					  <div class="modal-footer">
						<a class="btn btn-default" data-devmiss="modal">Fermer</a>
						<a class="btn btn-primary w3-red" onclick="deleteDevoir(event, '{{ dev.devoir }}','#deldev{{ dev.devoir }}')"><i class="fa fa-trash"></i>Supprimer</a>
					  </div>
					</div>
				  </div>
				</div>